* {
    /* 边框预览 */
    /* border: 1px black solid; */
    color: rgb(48, 48, 48);
    text-align: center;
}

body {
    background-color: rgb(246, 246, 246);
    margin: 0px;
    height: 100%;
    width: 100%;
}

#main {
    margin: 25px 25px 25px 25px;
    border-radius: 30px;
    border: 2px rgb(222, 222, 222) solid;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    background-color: white;
    flex-direction: row;
    height: 90vh;
    min-height: 450px;
    min-width: 510px;

}

#sidebar {
    background-color: rgb(231, 248, 255);
    padding: 20px;
    width: 150px;
    display: flex;
    border-radius: 30px 0px 0px 30px;
    flex-direction: column;
}

#logo {
    font-size: 45px;
    padding: 40px 0px 0px 0px;
}

#logo_text {
    font-size: 15px;
    padding: 0px 0px 40px 0px;
}

.sidebar_item {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px 10px 20px 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
    border: 2px rgba(147, 171, 255, 0) solid;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: border 0.3s, background-color 0.3s;

}

.sidebar_item:hover {
    background-color: rgb(243, 243, 243);
}

#container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.body {
    flex: 1;
    min-width: 360px;
}

.body_title {
    flex: 0;
    margin: 40px;
    font-size: 30px
}

#about_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

#author {
    padding-right: 145px;
}

#author_name {
    margin: 10px;
    font-size: 50px
}

#author_scene {
    font-size: 20px;
    margin-bottom: 30px;
}

#roll {
    overflow: scroll;
    overflow-x: hidden;
    height: calc(100% - 120px);
}

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 5px;
    padding-bottom: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(229, 229, 229);
}

.setting_item {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

.setting_text {
    flex: 1;
    text-align: left;
}

.setting_switch {
    flex: 0;
}

#emoji_box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 214px);
    border-top: 2px solid rgb(222, 222, 222);
    border-bottom: 2px solid rgb(222, 222, 222);
}

#emoji_text {
    font-size: 40px;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#input_box {
    flex: 0;
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 50px;
}

#input_text {
    flex: 1;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px;
    outline: none;
    text-align: left;
    font-size: 17px;
    padding-left: 10px;
    transition: border 0.3s;
}

#enter {
    min-width: 80px;
    margin-left: 10px;
    background-color: rgb(26, 132, 154);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    transition: background-color 0.3s;

}

#enter:hover {
    background-color: rgb(29, 147, 171);
}

#input_text:focus {
    border: 1px solid rgb(26, 132, 154);
}

.floating-menu {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 40px;
    font-size: 25px;
    height: 40px;
    border: 1px solid rgb(26, 132, 154);
    border-radius: 10px;
    transition: all 0.5s;
}