* {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

#background {
    position: fixed;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: url('../img/background1.jpg') center center no-repeat;
    background-size: cover;
}

#background_shadow {
    position: fixed;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    box-shadow: inset 0px 0px 1000px 10px rgba(0, 0, 0, 0.5);
}

#content {
    position: fixed;
    left: 0;
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
}

#inside_content {
    flex: 1;
    width: 100%;
    display: flex;


}

#buttom_bar {
    flex: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
}

#left {
    max-width: 500px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}



#website_title {
    font-size: 60px;
    width: 100%;
    margin-bottom: 50px;
}

#website_title>* {
    font-size: 30px;
}


#scentence {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100px;
    transition: 0.5s;
}

#scentence>* {
    padding-left: 100px;
    width: 100%;
    text-align: left;
}

#scentence>:first-child {
    margin-bottom: 10px;
}

#scentence:active {
    margin-top: 25px;
    margin-bottom: 25px;
    width: calc(100% - 10px);
    height: 90px;
    border-radius: 25px;

}

#contact_me {
    width: 100%;
    display: flex;
}

#contact_me>* {
    width: 30px;
    height: 30px;
    margin: 10px;
}

#contact_me .contact_ico:nth-child(1) {
    background: url(../img/email.svg) center center no-repeat;
    background-size: cover;


}

#contact_me .contact_ico:nth-child(2) {
    background: url(../img/qq.svg) center center no-repeat;
    background-size: cover;
}

#contact_me .contact_ico:nth-child(3) {
    background: url(../img/wechat.svg) center center no-repeat;
    background-size: cover;

}

#contact_me .contact_ico:nth-child(4) {
    background: url(../img/tele.svg) center center no-repeat;
    background-size: cover;
    transform: scale(0.9);

}

.expand {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    transition: 0.5s;
    padding: 10px;
}

.expand:active {
    margin-top: 30px;
    padding: 5px;
}

.expand_icon {
    width: 30px;
    height: 30px;
    background: url(../img/more.svg) center center no-repeat;
    background-size: cover;
    transform: scale(0.9);
}

#right {
    margin-left: 50px;
    max-width: 500px;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
}

#box_top {
    display: flex;
    flex-direction: row;
    width: 100%;
}


#lrc_box {
    height: 75px;
    width: 100%;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    transition: 0.5s;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#lrc {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

#lrc_author {
    width: 100%;
    text-align: right;
}



#time_box {
    height: 75px;
    width: 100%;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    transition: 0.5s;
    padding: 20px;
    display: flex;
    font-size: 25px;
}


#box_centre{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#box_centre_icon{
    width: 30px;
    height: 30px;
    margin: 10px;
    background: url(../img/star.svg) center center no-repeat;
    background-size: cover;
    transform: scale(0.9);
}

#box_bottom{
    display: flex;
    flex-direction: column;
    width:100%;
}

.link_group{
    display: flex;
    flex-direction: row;
    width:100%;
}

.link_box{
    height: 70px;
    width: 24%;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    transition: 0.5s;
    padding: 20px;
    display: flex;

}

#expand2{
    display: inline
}