* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(60, 60, 67);
}

:root {
    --primary-color: rgb(252, 91, 141);
    --secondary-color: rgb(192, 192, 194);
    --hover-color: rgb(227, 227, 229);
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

#top_bar {
    font-weight: 600;
    height: 2em;
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center
}

#bottom_bar {
    font-weight: 600;
    height: 2em;
    border-top: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    border-right: 1px solid var(--secondary-color);
    user-select: none;
    overflow-x: hidden;
    transition: 0.5s;
}

#body {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#title {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 0;
    color: var(--primary-color);
    font-weight: 800;
    transform-origin: left;
    transition: 0.5s;
}

#title_sum {
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 800;
}

.sidebar_item {
    position: relative;
    height: 4em;
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.5s;
}

.sidebar_item:hover {
    background-color: var(--hover-color);
}

.sidebar_item :nth-child(1) {
    padding-left: 1.1em;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}

.sidebar_item :nth-child(2) {
    padding-left: 1.1em;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}



.sidebar_item:hover :nth-child(1) {
    background-color: var(--hover-color);
}

.sidebar_item:hover :nth-child(2) {
    background-color: var(--hover-color);
}

#float_line {
    position: absolute;
    width: 5px;
    top: 0;
    background-color: var(--primary-color);
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}

#container {
    width: 100%;
    flex: 1;
}

iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:768px) {
    #sidebar {
        width: 4em;
    }

}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: rgb(252, 91, 141);
        --hover-color: rgb(49, 49, 54) --secondary-color: black;
    }

    * {
        margin: 0;
        padding: 0;
        text-align: center;
        color: rgb(246, 246, 247);
        background-color: rgb(30, 30, 32);
    }

}